
/build/default/production/xpall_switcher_main.p1
/build/default/production/xpall_switcher_main.p1.d
/build/default/production/xpall_switcher_main.pre
/disassembly/listing.disasm
/dist/default/production/memoryfile.xml
/dist/default/production/xpall_switcher.X.production.cmf
/dist/default/production/xpall_switcher.X.production.elf
/dist/default/production/xpall_switcher.X.production.hex
/dist/default/production/xpall_switcher.X.production.hxl
/dist/default/production/xpall_switcher.X.production.lst
/dist/default/production/xpall_switcher.X.production.map
/dist/default/production/xpall_switcher.X.production.mum
/dist/default/production/xpall_switcher.X.production.obj
/dist/default/production/xpall_switcher.X.production.rlf
/dist/default/production/xpall_switcher.X.production.sdb
/dist/default/production/xpall_switcher.X.production.sym
/funclist
/kicad/PIC16F636.bak
/kicad/PIC16F636.dcm
/kicad/PIC16F636.lib
/kicad/xpall_switcher-cache.lib
/kicad/xpall_switcher.bak
/kicad/xpall_switcher.pdf
/kicad/xpall_switcher.pro
/kicad/xpall_switcher.sch
/l.obj
/nbproject/Makefile-default.mk
/nbproject/Makefile-genesis.properties
/nbproject/Makefile-impl.mk
/nbproject/Makefile-local-default.mk
/nbproject/Makefile-variables.mk
/nbproject/Package-default.bash
/nbproject/private/configurations.xml
/nbproject/private/private.xml
/xpall_xpall-plus_switcher.X/nbproject/private/
/xpall_xpall-plus_switcher.X/build/default/
/xpall_xpall-plus_switcher.X/dist/default/
/xpall_xpall-plus_switcher.X/nbproject/Makefile-default.mk
/xpall_xpall-plus_switcher.X/nbproject/Makefile-impl.mk
/xpall_xpall-plus_switcher.X/nbproject/Makefile-genesis.properties
/xpall_xpall-plus_switcher.X/nbproject/Makefile-local-default.mk
/xpall_xpall-plus_switcher.X/nbproject/Makefile-variables.mk
/xpall_xpall-plus_switcher.X/nbproject/Package-default.bash
/nbproject/private/
/dist/default/
/hardware/PIC16F636.bak
/hardware/PIC16F636.dcm
/hardware/PIC16F636.lib
/hardware/xpall_switcher-cache.lib
/hardware/xpall_switcher.bak
/hardware/xpall_switcher.pdf
/hardware/xpall_switcher.pro
/hardware/xpall_switcher.sch
